{% load static %}

<footer class="footer bg-dark text-dark bg-opacity-10">
    <div class="container">
      <div class="row">

        <!-- 1 -->
        <div class="col-md-4 text-center font-footer">

          <h4 class=" mt-1 text-center"> <strong>Nosotros</strong> </h4>
          <hr class="mb-4">

          <h6 class="text-justify">StylosXLey es una marca chilena de ropa fundada por Gabriela Gonzales, David Gomez e Isamel Lopez. Nuestra misión es ofrecer prendas únicas que combinan diseño innovador y técnicas artesanales, inspiradas en la rica diversidad cultural de Chile.</h6>

        </div>


        <!--1-->


        <!--2-->

        <div class="col-md-4 font-footer">
          <h4 class="mt-1 text-center"> <strong>Tu cuenta</strong> </h4>
          <hr class="mb-4">
          <a href="url_de_seguimiento" class="text-center">
            <h6>Seguimiento</h6>
          </a>
          
          <a href="url_de_ordenes" class="text-center">
            <h6>Ordenes</h6>
          </a>

          <a href="url_de_cuenta" class="text-center">
            <h6>Cuenta</h6>
          </a>
        
        </div>


        <!--2-->

        <!--3-->
        <div class="col-md-4 col-lg-4 col-xl-4 mt-1 text-justify">

          <h4 class="text-center"><strong>Contacto</strong></h4>
          
          <hr class="mb-4">

          <p>
            <li class="fas fa-home me-3"> </li> Av.Macul 2570
          </p>
          <p>
            <li class="fas fa-envelope me-3"> </li> spystore@gmail.com
          </p>

          <p>
            <li class="fas fa-phone me-3"> </li> +56930974157
          </p>
          <p>
            <li class="fas fa-print me-3"> </li> 20170817
          </p>
         


       




        </div>
        <!--3-->
        <hr class="mb-4 mt-4">



        <!--4-->

        <div class="col-md-12 text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/gmcglz/">
                <img src="{% static 'img/logo/instagram.svg' %}" height="28" alt="Instagram">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/tupagina">
                <img src="{% static 'img/logo/whatsapp.svg' %}" height="25" alt="WhatsApp">
              </a>
            </li>
            <li class="list-inline-item me-3">
              <a href="https://www.facebook.com/tupagina">
                <img src="{% static 'img/logo/facebook.svg' %}" height="30" alt="Facebook">
              </a>
            </li>
            <li class="list-inline-item me-3">
              <a href="https://www.twitter.com/tupagina">
                <img src="{% static 'img/logo/twitter.svg' %}" height="30" alt="Twitter">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/tupagina">
                <img src="{% static 'img/logo/tiktok.svg' %}" height="30" alt="TikTok">
              </a>
            </li>
          </ul>
        </div>
        


        <!--4-->
      </div>
    </div>
  </footer>